<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="icon" href="/static/img/favicon/favicon.ico">
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <form action="/login" id="login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="Digite seu Email"><br> <br>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" required placeholder="Confirme sua Senha"><br><br>
        <button type="submit">Entrar</button>
        <p>Ainda não tem uma conta? <a href="{{ url_for('registro') }}">Registre-se</a></p>
    </form>
</body>
</html>